/* /Apps/AboutVersion.razor.rz.scp.css */
.window[b-brlvsxtko6] {
	width: 400px;
}

.window-pane[b-brlvsxtko6] {
	height: auto;
}

.welcome-image[b-brlvsxtko6] {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
/* /Apps/AudioPlayer.razor.rz.scp.css */
.window[b-c8zjyqt9ej] {
	height: auto;
	width: 290px;
	padding-bottom: 12px;
}

.media-player[b-c8zjyqt9ej] {}

.window-pane[b-c8zjyqt9ej] {
	padding: 0;
}

.window-controls span[b-c8zjyqt9ej] {
	cursor: pointer;
}

.menu-bar[b-c8zjyqt9ej] {
	background-color: white;
	display: flex;
	justify-content: start;
	padding: 2px;
}

.menu-item[b-c8zjyqt9ej] {
	margin: 0 5px;
	cursor: pointer;
}

.display[b-c8zjyqt9ej] {
	background-color: #000;
	color: #0F0;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	place-content: space-between;
}

.equalizer[b-c8zjyqt9ej] {
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: self-end;
	margin-left: -50px;
}

.track-info[b-c8zjyqt9ej],
.track-details[b-c8zjyqt9ej] {
	display: flex;
	justify-content: space-between;
}

.track-info span[b-c8zjyqt9ej] {
	text-wrap: nowrap;
	max-width: 205px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
}

.audio-current-time[b-c8zjyqt9ej] {
	font-family: 'digital-7';
	font-size: 32px;
}

.controls[b-c8zjyqt9ej] {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	gap: 6px;
}

.controls img[b-c8zjyqt9ej] {
	height: 9px;
}

.btn:active svg[b-c8zjyqt9ej] {
	fill: white;
}

.btn[b-c8zjyqt9ej] {
	height: 28px;
}

.progress-bar[b-c8zjyqt9ej] {
	background-color: #FFF;
	border: 1px solid #000;
	height: 10px;
	margin: 0 10px;
	position: relative;
}

.progress[b-c8zjyqt9ej] {
	background-color: #0000ff;
	height: 100%;
	width: 0%;
}

/* equalizer bar - height animated by js */
.bar[b-c8zjyqt9ej] {
	background-color: #0000ff;
	height: 0%;
	width: 7px;
	transition: height 0.1s linear;
}

.track-list[b-c8zjyqt9ej] {
	background-color: #FFF;
	border: 1px solid #000;
	max-height: 182px;
	overflow-y: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	font-family: 'arial-pixel';
	font-size: 10px;
}

.track[b-c8zjyqt9ej] {
	padding: 5px;
	border-bottom: 1px solid white;
}

.selected[b-c8zjyqt9ej] {
	background-color: black;
	color: white;
}

.track:last-child[b-c8zjyqt9ej] {
	border-bottom: none;
}

.track-subtitle[b-c8zjyqt9ej] {
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 20px;
}

.track-subtitle span[b-c8zjyqt9ej] {
	text-wrap: nowrap;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
}

.scrolling-text[b-c8zjyqt9ej] {
	display: inline-block;
	position: absolute;
	animation: bounce-b-c8zjyqt9ej 8s linear infinite;
}



@keyframes bounce-b-c8zjyqt9ej {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(100% - var(--track-subtitle-width, 230px)));
	}

	100% {
		transform: translateX(0);
	}
}
/* /Apps/ContactForm.razor.rz.scp.css */
.window[b-u4ohh11vgb] {
	width: 290px;
}

.window-pane[b-u4ohh11vgb] {
	height: auto;
	max-height: 500px;
}

textarea[b-u4ohh11vgb] {
	border: 1.5px solid #000;
	height: 160px;
}

.info-box[b-u4ohh11vgb] {
	background-color: #c0c0c0;
	outline: 1px solid #8a8a8a;
	background-color: rgba(227, 227, 227, 0.5);
	border-width: 2px;
	font-size: 0.8rem;
	border-style: solid;
	border-color: #fff #8a8a8a #8a8a8a #fff;
	padding: 2px;
	display: block;
	position: relative;
	bottom: 0;
	color: black;
	border-radius: 0px;
	margin-top: 6px;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
}

.form-group[b-u4ohh11vgb] {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
/* /Apps/Default.razor.rz.scp.css */
.default-content[b-uewotx0epo] {
	max-width: 400px;
}
/* /Apps/DisplayProperties.razor.rz.scp.css */
.window[b-4p1smik87w] {
	width: 400px;
}

.window-pane[b-4p1smik87w] {
	height: auto;
}

.display-image-wrapper[b-4p1smik87w] {
	position: relative;
	width: 250px;
	height: 250px;
}

.display-image[b-4p1smik87w] {
	max-width: 100%;
	height: auto;
	object-fit: contain;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.wallpaper-image[b-4p1smik87w] {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 75px;
	z-index: 0;
	width: auto;
}

.wallpaper-list[b-4p1smik87w] {
	background-color: #FFF;
	border: 1px solid #000;
	max-height: 182px;
	overflow-y: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	font-family: 'arial-pixel';
	font-size: 10px;
}

.wallpaper[b-4p1smik87w] {
	padding: 5px;
	border-bottom: 1px solid white;
}

.selected[b-4p1smik87w] {
	background-color: black;
	color: white;
}
/* /Apps/Editor.razor.rz.scp.css */
.window[b-peh58gb5pd] {
	width: 400px;
}

.window.resizable[b-peh58gb5pd] {
    resize: both;
    overflow: hidden;
}

.window-pane[b-peh58gb5pd] {
    display: flex;
    flex-direction: column;
    height: 100%;
	width: 100%;
	padding: 0;
}

.editor-textarea[b-peh58gb5pd] {
    flex-grow: 1;
    resize: none;
    border: none;
    padding: 8px;
    font-family: monospace;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
	resize: both;
}

textarea:focus[b-peh58gb5pd] {
background: #fff;
	color: #000;
}
/* /Apps/GuestBook.razor.rz.scp.css */
.window[b-rvka4hpuv4] {
	width: 290px;
}

.window-pane[b-rvka4hpuv4] {
	height: auto;
	max-height: 500px;
}

textarea[b-rvka4hpuv4] {
	border: 1.5px solid #000;
	height: 160px;
}

.info-box[b-rvka4hpuv4] {
	background-color: #c0c0c0;
	outline: 1px solid #8a8a8a;
	background-color: rgba(227, 227, 227, 0.5);
	border-width: 2px;
	font-size: 0.8rem;
	border-style: solid;
	border-color: #fff #8a8a8a #8a8a8a #fff;
	padding: 2px;
	display: block;
	position: relative;
	bottom: 0;
	color: black;
	border-radius: 0px;
	margin-top: 6px;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
}

.form-group[b-rvka4hpuv4] {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.window-pane[b-rvka4hpuv4] {
	padding: 0;
}
/* /Apps/HackerNews.razor.rz.scp.css */
.window[b-rohz7cw4g7] {
	width: 290px;
}

.window-pane[b-rohz7cw4g7] {
	height: auto;
	padding: 0;
	max-height: 500px;
}

.welcome-image[b-rohz7cw4g7] {
	width: 95%;
	margin-left: 0;
	object-fit: contain;
	image-rendering: pixelated;
}
/* /Apps/Welcome.razor.rz.scp.css */
.window[b-878u4gjg4v] {
	width: 420px;
}

.window-pane[b-878u4gjg4v] {
	height: auto;
	padding: 0;
	padding-bottom:1rem;
}

.welcome-image[b-878u4gjg4v] {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
/* /Pages/Home.razor.rz.scp.css */
.menu-bar[b-0duknsy223] {
	border-bottom: 1.5px solid #000;
}

.li-icon[b-0duknsy223] {
	background: #000;
}

.li-icon:hover[b-0duknsy223],
.li-icon:focus[b-0duknsy223] {
	background: #fff !important;
	border-right: 1.5px solid black;
}

.li-icon:hover .logo[b-0duknsy223],
.li-icon:focus .logo[b-0duknsy223] {
	content: url('img/icon-inv.png');
	background: #fff;
	color: #fff;
	outline: none;

}

.d58016c611e44b7f98e5827364779100[b-0duknsy223] {
	background: white !important;
	background-image: url('img/wallpapers/dots-dots-dots.png') !important;
	background-size: 100px !important;
}

.d815257682154834a1c5bfdb5c9c1bd6[b-0duknsy223] {
	background-image: url('img/wallpapers/modular-brickwork.png') !important;
}

.c3be1b76914e4e168b8b596ca3aa607c[b-0duknsy223] {
	background-image: url('img/wallpapers/bliss.png') !important;
	background-size: cover !important;
}

.f7b04814bfbf45e3bda42dcc277b4cfb[b-0duknsy223] {
	background-image: url('img/wallpapers/hxbc-vibe-coding.png') !important;
	background-size: cover !important;
}

.ec89224785304769a54e3b51af0eff7f[b-0duknsy223] {
	background-image: url('img/wallpapers/patterned.png') !important;
	background-size: 333px !important;
	background-repeat: repeat !important;
}

.desktop-icons[b-0duknsy223] {
	position: relative;
	width: 100%;
	display: block;
}

.desktop-icon[b-0duknsy223] {
	width: 100px;
	height: 100px;
	text-align: center;
	user-select: none;
}
