@inject IJSRuntime _js
@inject YoutubeService _youtube
@inherits AppBase

<div class="app-component draggable" id="@AppId">
	<div class="header">
		<span class="spacer">
			<i></i>
			<i></i>
			<i></i>
		</span>
		<span class="header-title">Audio Player</span>
		<span class="spacer">
			<i></i>
			<i></i>
			<i></i>
		</span>
		<button class="close-btn" @onclick="Remove">x</button>
	</div>
	<div class="content">
		<div class="media-player">
			<div class="display">
				<div class="track-info">
					<span>TRACK</span>
					<span>MIN</span>
					<span>SEC</span>
					<span>MODE</span>
				</div>
				<div class="track-details">
					<span>1</span>
					<span>0:43</span>
					<span>44 kHz</span>
					<span>96 kBit/s</span>
				</div>
			</div>
			<div class="controls">
				<button class="btn prev" @onclick="PlayPrevious">
					<img src="img/prev.svg" />
				</button>
				<button class="btn play" @onclick="PlayPause">
					<img src="img/play.svg" />
				</button>
				<button class="btn next" @onclick="PlayNext">
					<img src="img/next.svg" />
				</button>
			</div>
			<div class="progress-bar">
				<div class="progress"></div>
			</div>
			<div class="track-list">

				@foreach (var track in _tracks)
				{
					@if (_currentTrack == track)
					{
						<div class="track selected">@track.GetName()</div>
					}
					else
					{
						<div class="track" @onclick="() => SelectTrack(track)">@track.GetName()</div>
					}
				}
			</div>
		</div>
	</div>
</div>
@code {
	List<Track> _tracks = new();

	Track? _currentTrack = null;

	protected override async Task OnInitializedAsync()
	{
		var tracks = await _youtube.GetTracks();
		foreach (var track in tracks.Shuffle())
		{
			Console.WriteLine(track.ToString());
			_tracks.Add(track);
		}
	}

	void PlayPause()
	{
		if (_currentTrack == null)
		{
			_currentTrack = _tracks[0];
			_js.InvokeVoidAsync("playAudio", _currentTrack.Url);

		}
		else
		{
			_js.InvokeVoidAsync("playPauseAudio");

		}
	}

	void PlayNext()
	{
		if (_currentTrack == null)
		{
			_currentTrack = _tracks[0];
			_js.InvokeVoidAsync("playAudio", _currentTrack.Url);
		}
		else
		{
			var currentIndex = _tracks.IndexOf(_currentTrack);
			if (currentIndex < _tracks.Count - 1)
			{
				_currentTrack = _tracks[currentIndex + 1];
				_js.InvokeVoidAsync("playAudio", _currentTrack.Url);
			}
		}
	}

	void SelectTrack(Track track)
	{
		_currentTrack = track;
		_js.InvokeVoidAsync("playAudio", _currentTrack.Url);
	}

	void PlayPrevious()
	{
		if (_currentTrack == null)
		{
			_currentTrack = _tracks[0];
			_js.InvokeVoidAsync("playAudio", _currentTrack.Url);
		}
		else
		{
			var currentIndex = _tracks.IndexOf(_currentTrack);
			if (currentIndex > 0)
			{
				_currentTrack = _tracks[currentIndex - 1];
				_js.InvokeVoidAsync("playAudio", _currentTrack.Url);
			}
		}
	}
}