.window {
	height: auto;
	width: 290px;
	padding-bottom: 12px;
}

.media-player {}

.window-pane {
	padding: 0;
}

.window-controls span {
	cursor: pointer;
}

.menu-bar {
	background-color: white;
	display: flex;
	justify-content: start;
	padding: 2px;
}

.menu-item {
	margin: 0 5px;
	cursor: pointer;
}

.display {
	background-color: #000;
	color: #0F0;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	place-content: space-between;
}

.equalizer {
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: self-end;
	margin-left: -50px;
}

.track-info,
.track-details {
	display: flex;
	justify-content: space-between;
}

.track-info span {
	text-wrap: nowrap;
	max-width: 205px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
}

.audio-current-time {
	font-family: 'digital-7';
	font-size: 32px;
}

.controls {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.controls img {
	height: 9px;
}

/* btn active should make the svg inside white */
.btn:active svg {
	fill: white;
}

.progress-bar {
	background-color: #FFF;
	border: 1px solid #000;
	height: 10px;
	margin: 0 10px;
	position: relative;
}

.progress {
	background-color: #0000ff;
	height: 100%;
	width: 0%;
}

/* equalizer bar - height animated by js */
.bar {
	background-color: #0000ff;
	height: 0%;
	width: 7px;
	transition: height 0.1s linear;
}

.track-list {
	background-color: #FFF;
	border: 1px solid #000;
	max-height: 182px;
	overflow-y: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	font-family: 'arial-pixel';
	font-size: 10px;
}

.track {
	padding: 5px;
	border-bottom: 1px solid white;
}

.selected {
	background-color: black;
	color: white;
}

.track:last-child {
	border-bottom: none;
}

.track-subtitle {
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 20px;
}

.track-subtitle span {
	text-wrap: nowrap;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
}

.scrolling-text {
	display: inline-block;
	position: absolute;
	animation: bounce 8s linear infinite;
}



@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(calc(100% - var(--track-subtitle-width, 230px)));
	}

	100% {
		transform: translateX(0);
	}
}