@inject IJSRuntime _js
@inherits AppBase


<div class="window app-component draggable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove"></button>
		<h1 class="title">Send love!
		</h1>
	</div>
	<div class="separator"></div>
	<div class=" text-sm window-pane">

		<div class="content flex flex-col gap-3">

			<div class="standard-dialog center scale-down text-xs w-9/12 mx-auto">
				<h1 class="dialog-text uppercase font-black">Get in touch</h1>
				<p class="dialog-text">Let's talk! Your messages are collected in our guestbook.</p>
			</div>


			<form class="message-form">
				<div class="flex flex-col">
					<label for="text_email">Nickname</label>
					<input id="text_email" type="text" class="w-full" placeholder="Elliot Alderson" />
					<label class="mt-2" for="text_message">Message</label>
					<textarea id="text_message" type="text" class="w-full" placeholder="hello world..." />
					<button class="btn mt-2" @onclick="Submit">Send it!</button>
				</div>
			</form>
		</div>
	</div>
</div>
@code {

	private async Task Submit()
	{
		await _js.InvokeVoidAsync("alert", "Message sent!");
	}
}