@inject IJSRuntime _js
@inherits AppBase

<div class="window app-component draggable resizable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove"></button>
		<h1 class="title">@_title</h1>
		<button aria-label="Resize" disabled class="hidden"></button>
	</div>
	<div class="separator"></div>
	<div class="text-sm window-pane flex flex-col">
		<textarea class="editor-textarea flex-grow w-full h-full" placeholder="Start typing...">@_text</textarea>
	</div>
</div>

@code {
	[Parameter]
	public string? Text { get; set; }


	[Parameter]
	public string? Title { get; set; }

	string _text = string.Empty;

	string _title = "Editor";


	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	//onparameterset
	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		if (!string.IsNullOrEmpty(Text))
		{
			_text = Text;
		}

		if (!string.IsNullOrEmpty(Title))
		{
			_title = Title;
		}

	}

}