@inject IJSRuntime _js
@inject GuestBookService _guestBookService
@inherits AppBase



<div class="window app-component draggable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove"></button>
		<h1 class="title">Guestbook
		</h1>
	</div>
	<div class="separator"></div>
	<div class=" text-sm window-pane">
		<div class="max-h-[400px] overflow-y-auto">
			@foreach (var message in _guestBookService.GetMessages().OrderByDescending(m => m.Date))
			{
				<div class="standard-dialog center scale-down text-xs w-11/12 mx-auto my-2">
					<h1 class="dialog-text uppercase"><span class="font-black">@message.User</span> -
						@message.Date.ToShortDateString()</h1>
					<p class="dialog-text">@message.Text</p>
				</div>
			}
		</div>
	</div>
</div>
@code {
	protected override void OnInitialized()
	{
		_guestBookService.MessagesChanged += OnMessagesChanged;
	}

	private void OnMessagesChanged(object sender, NotifyCollectionChangedEventArgs e)
	{
		InvokeAsync(StateHasChanged);
	}

	private async Task Submit()
	{
	}
}