@inject IJSRuntime _js
@inherits AppBase

<div class="app-component draggable" id="@AppId">
	<div class="header">
		<span class="spacer">
			<i></i>
			<i></i>
			<i></i>
		</span>
		<span class="header-title">About</span>
		<span class="spacer">
			<i></i>
			<i></i>
			<i></i>
		</span>
		<button class="close-btn" @onclick="Remove">x</button>
	</div>
	<div class="content">
		<img src="img/welcome.png" alt="Welcome" <p>
		Welcome! Grab a seat, launch your editor, and start coding. We have a lot of exciting things in store for you.
		Stay tuned!
		</p>
	</div>
</div>
@code {
}
