@page "/"
@using HaxorByteClub.Apps
@inject IJSRuntime _js

<PageTitle>Home</PageTitle>

<div class="top-bar">
	<div class="logo-and-menu">
		<img src="img/logo-temp.png" alt="Logo" class="logo">
		<select class="dropdown-menu">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
		</select>
	</div>
	<div class="date-time">
		<div class="current-time" id="currentTime"></div>
		<div class="current-date" id="currentDate"></div>
	</div>
</div>
<div class="desktop-icons">
	<div class="desktop-icon" @onclick="ToggleAudioPlayer">
		<img src="img/player-icon.png" alt="player icon">
		<span>Audio Player</span>
	</div>
	<div class="desktop-icon" @onclick="ToggleContactForm">
		<img src="img/contact-icon.png" alt="contact form icon">
		<span>Contact Us</span>
	</div>
</div>

@foreach (var app in _apps)
{
	@if (app is Welcome welcome)
	{
		<Welcome AppId="@app.AppId" />
	}
	else if (app is Default d)
	{
		<Default AppId="@app.AppId" />
	}
	else if (app is AudioPlayer audioPlayer)
	{
		<AudioPlayer AppId="@app.AppId" />
	}
	else if (app is ContactForm contact)
	{
		<ContactForm AppId="@app.AppId" />
	}
}

@code
{
	List<AppBase> _apps = new();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await _js.InvokeVoidAsync("setupClock");
		}
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		WeakReferenceMessenger.Default.Register<RemoveAppMessage>(this, OnRemoveApp);
	}

	void ToggleAudioPlayer()
	{
		if (_apps.Any(a => a is AudioPlayer))
		{
			var audioPlayer = _apps.FirstOrDefault(a => a is AudioPlayer);
			BringToFront(audioPlayer.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new AudioPlayer() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleContactForm()
	{
		if (_apps.Any(a => a is ContactForm))
		{
			var audioPlayer = _apps.FirstOrDefault(a => a is ContactForm);
			BringToFront(audioPlayer.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new ContactForm() { AppId = Guid.NewGuid().ToString() });
		}
	}


	async Task BringToFront(string id)
	{
		await _js.InvokeVoidAsync("bringToFront", id);
	}

	void OnRemoveApp(object sender, RemoveAppMessage message)
	{
		var app = _apps.FirstOrDefault(a => a.AppId == message.AppId);
		if (app != null)
		{
			_apps.Remove(app);
			StateHasChanged();
		}
	}
}