@inject IJSRuntime _js
@inherits AppBase


<div class="window app-component draggable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove">✕</button>
		<h1 class="title">HaxorByte OS</h1>
		<button aria-label="Resize" disabled class="hidden"></button>
	</div>
	<div class="separator"></div>
	<div class="window-pane flex flex-col items-center">

		<img class="welcome-image w-full rounded-sm" src="img/osimg.png" alt="Welcome" />
		<div class="welcome-details">
			<p class="leading-[1.2] mt-3 mx-auto text-center">
				<img class="welcome-image w-[80%] mx-auto rounded-sm" src="img/hxos.png" alt="Welcome" />

				<a class="font-arial-pixel text-[11px]"
					href="https://github.com/nor0x/haxorbyteclub-www/releases/tag/v###VERSION###"
					target="_blank">###VERSION###</a> <a class="font-arial-pixel text-[11px]"
					href="https://github.com/nor0x/haxorbyteclub-www/commit/###COMMIT###" target="_blank">
					(@("###COMMIT###".Substring(0, 7)))
				</a>
			</p>
			<div class="mt-2 text-center">
				<a class="font-arial-pixel cursor-pointer text-[11px]" @onclick="ShowCreditsEditor">Credits</a>
				<br />
			</div>
		</div>
	</div>
</div>

@code {

	void ShowCreditsEditor()
	{
		WeakReferenceMessenger.Default.Send(new ShowEditorMessage(new EditorLaunchSettings("###CREDITS###", "Credits")));
	}

}
