@inject IJSRuntime _js
@inject GuestBookService _guestBookService
@inherits AppBase


<div class="window app-component draggable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove">✕</button>
		<h1 class="title">Send love!
		</h1>
		<button aria-label="Resize" disabled class="hidden"></button>

	</div>
	<div class="separator"></div>
	<div class=" text-sm window-pane">

		<div class="content flex flex-col gap-3">
			<img class="header-image mx-auto rounded-sm mt-2" src="img/contact.png" alt="" />


			<div class="message-form">
				<div class="flex flex-col">
					<label for="text_email">Nickname</label>
					<input id="text_email" type="text" class="w-full" placeholder="Elliot Alderson" @bind="Nickname"
						autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
					<label class="mt-2" for="text_message">Message</label>
					<textarea id="text_message" type="text" class="w-full" placeholder="hello world..." @bind="Message"
						autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />

					<button class="btn mt-2" @onclick="Submit">Send it!</button>
					<p class="italic text-sm">Messages are collected in our
						<span class="cursor-pointer underline" @onclick="ShowGuestBook">
							guestbook
						</span>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
@code {

	private string Nickname { get; set; }
	private string Message { get; set; }

	private async Task Submit()
	{
		_guestBookService.AddMessage(new Message
		{
			User = Nickname,
			Text = Message,
			Date = DateTime.Now
		});
		Nickname = string.Empty;
		Message = string.Empty;
	}

	private void ShowGuestBook()
	{
		WeakReferenceMessenger.Default.Send(new AddAppMessage(AppType.GuestBook, ""));
	}
}