.window {
	width: 370px;
}

.window-pane {
	height: auto;
	padding: 0;
	max-height: 500px;
}

.welcome-image {
	width: 91%;
	object-fit: contain;
	image-rendering: pixelated;
	box-shadow: var(--box-shadow);
}