@inject IJSRuntime _js
@inherits AppBase


<div class="window app-component draggable" id="@AppId">
	<div class="title-bar">
		<button aria-label="Close" class="close" @onclick="Remove">✕</button>
		<h1 class="title">HaxorByte.Club</h1>
		<button aria-label="Resize" disabled class="hidden"></button>
	</div>
	<div class="separator"></div>
	<div class="window-pane">
		<img class="welcome-image" src="img/welcome.jpg" alt="Welcome" />
		<span class="font-bold text-lg mx-auto flex justify-self-center">Welcome!</span>
		<p class="text-center text-base leading-none px-2">Escape the ordinary algorithm - reboot your circuits and vibe
			away.
			Step Inside the HaxorByte.Club, it's where code compiles to nostalgia.<br />
			<br />
			The Club awaits you!
		</p>
	</div>
</div>

@code {
}
