body,
html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	overflow: hidden;
	/* nothing should be selectable */
	-webkit-user-select: none;
	user-select: none;
}


.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f1f1f1;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-and-menu {
	display: flex;
	align-items: center;
}

.logo {
	height: 40px;
	margin-right: 20px;
}

.dropdown-menu {
	padding: 5px 10px;
	font-size: 16px;
}


.date-time {
	font-size: 16px;
	display: flex;
	align-items: center;
}

.current-date,
.current-time {
	margin-left: 10px;
}

.draggable {
	width: 300px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	position: absolute;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
	padding: 10px;
	cursor: move;
	background-color: #f1f1f1;
	color: #333;
	border-radius: 8px 8px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close-btn {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 16px;
	color: #333;
}

.content {
	padding: 10px;
}